@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sriracha&display=swap');

body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: burlywood
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-family: "Sriracha", cursive;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #f0c5c5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-family: "Itim", cursive;
  }
  
  #manga-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    font-family: "Itim", cursive;
  }
  
  .manga-card {
    display: flex;
    gap: 15px;
    padding: 10px;
    background: #f0c5c5;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    font-family: "Itim", cursive;
  }
  
  .manga-card img {
    width: 80px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    
  }
  
  .manga-card button {
    margin-top: 10px;
    background: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .manga-card button:hover {
    background: #cc0000;
  }
  